<div class="container">
    <h1 class="title">Dashboard</h1>
    <hr>
    <h3>Account information</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <span class="description">First name:</span> <span>{{userData.firstName}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <span class="description">Last name:</span> <span>{{userData.lastName}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <span class="description">Email:</span> <span>{{userData.email}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <span class="description">Account Type:</span>
                {{#if userData.role}}
                <span>{{userData.role}}</span>
                {{else}}
                <span>Customer</span>
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <a href="#" class="btn btn-link">Edit information</a>
            </div>
        </div>
    </div>
    {{#if userData.role}}
    <h3>Admin Section</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="#" class="btn btn-link">Add Meal package</a>
            </div>
        </div>
    </div>
    {{/if}}
</div>