<div class="container login-register-container">
  <div class="row">
    <div class="mx-auto col-md-6 login-form">
      <h3>Register</h3>
      <div class="wrap-alt-login">
        <ul>
          <li><a href="#"><i class="fab fa-facebook-square" style="color:#3b5998 ;"></i></a></li>
          <li><a href="#"><i class="fab fa-google-plus-square" style="color:#dd4b39;"></i></a></li>
        </ul>
      </div>
      <hr>
      <form action="/register" method="POST">
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input class="form-control" type="text" name="firstName" id="first-name" placeholder="Your First Name *"
            tabindex="1" value="{{dataRegister.fistName}}"/>
          {{#if errorMessageRegister.invalidFirst}}
          <span class="error">{{errorMessageRegister.invalidFirst}}</span>
          {{/if}}
        </div>

        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input class="form-control" type="text" name="lastName" id="last-Name" tabindex="2"
            placeholder="Your Last Name *" value="{{dataRegister.lastName}}" />
          {{#if errorMessageRegister.invalidLast}}
          <span class="error">{{errorMessageRegister.invalidLast}}</span>
          {{/if}}
        </div>

        <div class="form-group">
          <label for="email-id">Email</label>
          <input type="email" class="form-control" name="email" id="email-id" placeholder="Your Email *" tabindex="3"
            value="{{dataRegister.email}}" />

          {{#if errorMessageRegister.invalidEmail}}
          <span class="error">{{errorMessageRegister.invalidEmail}}</span>
          {{/if}}
        </div>

        <div class="form-group">
          <label for="password-id" class="field-label">Password</label>
          <input type="password" class="form-control" name="password" id="password-id" placeholder="Your Password *"
            value="{{dataRegister.password}}" />
          {{#if errorMessageRegister.invalidPassword}}
          <span class="error">{{errorMessageRegister.invalidPassword}}</span>
          {{/if}}
        </div>

        <div class="form-group">
          <button type="submit" class="btnSubmit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>